@model Div;

<h1>Div</h1>
<form method="post" asp-action="Div">
    <div>
        <input type="number" class="form-control" asp-for="Num1">
        <span asp-validation-for="Num1" class="text-danger"></span>
    </div>

    <div>
        <input type="number" class="form-control" asp-for="Num2">
        <span asp-validation-for="Num2" class="text-danger"></span>
    </div>

    <div>
        <h2>Частное: @Model.Result</h2>
    </div>
    <input class="back" type="submit" value="Div"/>
    <button class="back" asp-action="Index">Назад</button>
</form>